//- Banner size
- const width = 970;
- const height = 90;
doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        //- Meta tags 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, width=device-width")
        meta(name="ad.size", content= "width=" + width + ",height=" +height)

        //- Title
        title #{width + 'x' + height + 'px' + ' Banner'}

        //- Library
        script(src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.5.1_min.js")

        //- Script
        script.
            var clickTag = "http://www.google.com";
        //- CSS
        style(type='text/css').
            .main-container{
                cursor: pointer;
                overflow: hidden;
                position: relative;

                background-color: #ffffff;

                width: #{width}px;
                height: #{height}px;
            }
        //- Link
        link(rel="stylesheet", href="./css/style.css")
        //- Delete link before production
        //- script: include ../css/style.css
        
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap")
    
    body.reset
        a(href="javascript:window.open(window.clickTag)") 
            .main-container#banner
                .img.logo: img(src="logo.png")
                .img.cta: img(src="cta.png")
                .img.people: img(src="people.png")

                button.btn(onclick="clickTag();") Jetzt teilnehmen

                .img.t1: img(src="t1.png")
                .img.t2: img(src="t2.png")
                .img.cards: img(src="cards.png")
                .img.box

        //- Animation
        script.
            var bannerWidth = document.querySelector("#banner").offsetWidth;
            var bannerHeight = document.querySelector("#banner").offsetHeight;
        script(src="./src/script/script.js")
        //- Delete script before production
        //- script: include ../script/script.js
